/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/ß

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/********************************************** MY CODE *************************************************/
* {
    box-sizing: border-box;
}

header {
  width: 100%;
  background: #707070;
  position: absolute;
  
}

header a img{
    float: left;
    margin-left: 10px;
    margin-right: 0px;
    margin-top: 20px;
    width: 100%;
    max-width: 250px;
    position: relative;
}

header .navBar {
    display: grid;
    grid-template-columns: repeat(auto-fit, 90px);
    justify-content: left;
    gap: 10px 10px;
    padding-top: 60px;
    position: relative;
}

header .navBar button {
    justify-self: center;
    background-color: black;
    border: none;
    border-radius: 5px;
    width: 105%;
}

header .navBar button a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: min(10vw, 15px);
}

button:hover {
    box-shadow: 0 5px 10px white;
    font-weight: bold;
}

main {
    padding-top: 170px;
    padding-left: 100px;
    padding-right: 100px;
}

main .pageName {
    text-align: center;
    padding-bottom: 5px;
}

main .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    gap: 20px 20px;
    justify-content: center;
}

.grid .resource {
    position: relative;
    display: block;
    justify-content: center;
    width: 250px;
    height: 150px;
    background: black;
    border-radius: 15px;
    box-shadow: 0 10px 10px grey;
}

.grid .resource .title {
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

.grid .resource .description {
    color: white;
    text-align: center;
    font-size: 15px;
}

.grid .resource button {
    display: block;
    background-color: white;
    border: none;
    border-radius: 5px;
    position: absolute;
    bottom: 5px;
    left: 30%;
    right: 30%;
    width: 40%;
}

.grid .resource button a {
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
}

footer {
    background-color: #000;
    position: fixed;
    height: 100px;
    width: 100%;
    bottom: 0px;
}

/* Iphone SE */
@media screen and (max-width: 320px) 
{

    header a img
    {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2px;
        width: 100%;
    }

    header .navBar 
    {
        float: none;
        justify-content: center;
        padding-top: 0px;
        grid-template-columns: repeat(auto-fit, 90px);
        gap: 2px 10px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
    }

    main 
    {
        padding-top: 260px;
        padding-left: 0px;
        padding-right: 0px;
    }

    main .grid {
        grid-template-columns: repeat(auto-fit, 100px);
        gap: 10px 5px;
    }

    main .grid .resource
    {
        width: 100px;
        height: 100px;
    }

    main .grid .resource .title {
        font-size: 10px;
    }

    main .grid .resource .description {
        font-size: 7px;
    }

    main .grid .resource button {
    }
}

/* Iphone 8 */
@media screen and (min-width: 321px) and (max-width: 414px)
{
    header a img
    {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2px;
        width: 100%;
    }

    header .navBar 
    {
        float: none;
        justify-content: center;
        padding-top: 0px;
        grid-template-columns: repeat(auto-fit, 100px);
        gap: 5px 15px;
    }
}

/*need to fix for iphone 12 pro max*/

/* Iphone 8+ */
@media screen and (min-width: 415px) and (max-width: 768px)
{
    header a img
    {
        float: left;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        width: 100%;
    }

    header .navBar 
    {
        justify-content: center;
        grid-template-columns: repeat(auto-fit, 90px);
        gap: 5px 15px;
        padding-top: 10px;
    }
}

@media screen and (min-width: 769px) and (max-width: 834px)
{
    header a img
    {
        float: left;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        width: 100%;
    }

    header .navBar 
    {
        justify-content: left;
        grid-template-columns: repeat(auto-fit, 120px);
        gap: 5px 15px;
        padding-top: 30px;
    }
}




